[submodule "zsh/antigen"]
	path = zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "zsh/packages/fasd"]
	path = zsh/packages/fasd
	url = git://github.com/clvv/fasd.git
[submodule "irssi/scripts/wertarbyte"]
	path = irssi/scripts/wertarbyte
	url = git://github.com/wertarbyte/irssi-scripts.git
[submodule "irssi/scripts/libnotify"]
	path = irssi/scripts/libnotify
	url = https://code.google.com/p/irssi-libnotify/
[submodule "irssi/scripts/znxster"]
	path = irssi/scripts/znxster
	url = git://github.com/znxster/irssi-scripts.git
[submodule "fonts/packages/powerline-fonts"]
	path = fonts/packages/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "powerline/packages/powerline"]
	path = powerline/packages/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "irssi/irssi-colors-solarized"]
	path = irssi/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "anyenv/envs/rbenv"]
    path = anyenv/envs/rbenv
    url = git://github.com/rbenv/rbenv.git
[submodule "anyenv/envs/ndenv"]
    path = anyenv/envs/ndenv
    url = git://github.com/riywo/ndenv.git
[submodule "anyenv/envs/plenv"]
    path = anyenv/envs/plenv
    url = git://github.com/tokuhirom/plenv.git
[submodule "anyenv/plugins/perl-build"]
	path = anyenv/plugins/perl-build
	url = git://github.com/tokuhirom/Perl-Build.git
[submodule "anyenv/plugins/ruby-build"]
	path = anyenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "anyenv/plugins/node-build"]
	path = anyenv/plugins/node-build
    url = https://github.com/riywo/node-build.git
